/* .hall{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    top: 10px;
    left: 20px;
}
#tv{
    position:absolute;
    height: 30px;
    width: 150px;
    background-color: chartreuse;
    left: 120px;
}
#sofa{
    position:absolute;
    height: 80px;
    width: 200px;
    background-color: red;
    left: 100px;
    top: 150px;
} */

/* .items{
    background-color: blueviolet;
    width: 200px;
    height: 150px;
    margin-top: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} */
/* .hover_effect:hover{
    color: red;
    background-color: cadetblue;
    font-size: 80px;
    text-shadow: 4px 3px 8px aqua;
}
button{
    background-color: green;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
    background-color: blueviolet;
    font-size: 30px;
    padding: 20px;
    color: whitesmoke;
    border-radius: 20px;
}
a:visited{
    color: green;
}
 input:focus{
    background-color: yellow;
} 
ul{
    width: 300px;
    padding: 10px;
    list-style-type: none;
}
li{
    padding: 10px;
    border: 2px solid red;
    margin-bottom: 10px;
    border-radius: 10px;
}
li:nth-child(odd){
    background-color: aquamarine;
}
li:nth-child(even){
    background-color: lightpink;
}
li:first-child{
    background-color: black;
    color: white;
}
li:last-child{
    background-color: black;
    color: white;
} */
 /* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    flex-direction: row;
 }
 .box{
    background-color: darkorange;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: white;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s ease;
 }
 .box1:hover{
       transform: translate(125px,125px);
 }
 .box2:hover{
       transform: translatex(125px);
 }
 .box3:hover{
       transform: translatey(125px);
 }
 .box4:hover{
    transform: rotate(360deg);
    background-color: blueviolet;
    color: aqua;
 }
 .box5:hover{
    transform: skew(30deg);
 }
 .box6:hover{
    transform: scale(2);
 }
 .box7:hover{
    transform: rotate(40deg) scale(2) translateY(50px);
 } */
  /* div{
    color: white;
    text-align: center;
    font-size: 30px;
  }
  .linear{
    height: 500px;
    border: 2px solid black;
    background: linear-gradient(to left, #ff0000a8,black);
  }
  .radial{
   height: 600px;
   background: radial-gradient(circle at center,lightpink,aqua,skyblue,red);
   color: black;
  }
  .conic{
    height: 500px;
    background: conic-gradient(from 90deg,black,green,blue,blueviolet);

  }  */
   /* div{
    width: 400px;
    height: 400px;
    background-color:yellow;
    position: relative;
    animation: myfirstanimation;
    -webkit-animation: myfirstanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
   }
   @keyframes myfirstanimation{
    0%{background-color: yellow;left:0px; top: 0px;}
    25%{background-color: aqua;left:300px; top: 0px;}
    50%{background-color: darkred;left:300px; top: 300px;}
    75%{background-color: chartreuse;left:0px; top: 300px;}
    100%{background-color: yellow;left:0px; top: 0px;}
   } */
    /* #txt{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        letter-spacing: 4px;
        font-size: 100px;
        font-weight: 700;
        position: relative;
        transform-style: preserve-3d;
        -webkit-perspective: 100px;
    }
    #txt>b{
        height: 100px;
        box-shadow: 0px 30px 15px grey;
        color: aqua;
        background-color: red;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-transform-origin: bottom;
        transform: rotatex(-85deg);
        transform: rotateX(-85deg);
        animation: getup;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #txt>b:nth-child(1){
        animation-delay: 0s;
    }
    #txt>b:nth-child(2){
        animation-delay: 0.25s;
    }
    #txt>b:nth-child(3){
        animation-delay: 0.50s;
    }
    #txt>b:nth-child(4){
        animation-delay: 0.75s;
    }
    #txt>b:nth-child(5){
        animation-delay: 1s;
    }
    #txt>b:nth-child(6){
        animation-delay: 1.25s;
    }
    #txt>b:nth-child(7){
        animation-delay: 1.50s;
    }
    #txt>b:nth-child(8){
        animation-delay: 1.75s;
    }
    @keyframes getup{
        10%,50%{
            transform: rotatex(0);
        }
        0%,60%,100%{
            transform: rotatex(-85deg);
        }
    } */
     /* .box{
        width: 100%;
        height: auto;
        background-color: green;
        color: white;
        text-align: center;
        line-height: 200px;
        font-size: 50px;
        margin: 20px auto;
        border: 4px solid rgb(252, 2, 2);
        border-radius: 30px;
    }
    .info{
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: rgb(185, 236, 236);
        color: black;
        font-size: 20px;
        border-left: 6px solid gray;
        margin-bottom: 20px;
    }
    .responsive_image{
        width: 100%;
        max-width: 800px;
        border: 4px solid red;
        padding: 30px;
        margin: auto;
    }
     mobile view 480px or less 
    @media (max-width:480px){
        .box{
            background-color: rgb(111, 111, 161);
            color: black;
            font-size: 25px;
            width: 80%;
        }
        .info{
           background-color: rgb(237, 157, 9);
           color: white;
        }
        .responsive_image{
            display: none;
        }
    }
     mobile view 480px or less 
    @media(max-width:770px){
        .box{
            background-color: rgb(96, 93, 16);
            color: white;
            font-size: 15px;
            width: 80%;
        }
        .info{
           background-color: rgb(65, 245, 10);
           color: black;
        }
    }
    @media(min-width:800px) and (max-width:900px){
        .box{
            background-color: rgb(8, 127, 238);
            color: black;
            font-size: 25px;
            width: 100%;
        }
        .info{
           background-color:rgb(229, 255, 0);
           font-size: 50px;
           width: 100px;
           color: rgb(244, 5, 148);
        }
        
    } */
     /* .container{
            position: relative;
            margin: 50px;
        }
        div{
            width: 200px;
            height: 200px;
            border-radius: 100px;
            position: absolute;
            border: 3px solid white;
        }
        .red{
            background-color: red;
            left: 40px;
            z-index: 3;
            &:hover{
                z-index: 6;
            }
        }
        .green{
            background-color: green;
            left: 80px;
            z-index: 5;
            &:hover{
                z-index: 8;
            }
        }
        .blue{
            background-color: blue;
            left: 120px;
            z-index: 4;
            &:hover{
                z-index: 8;
            }
        } */