/* .hall{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    top: 10px;
    left: 20px;
}
#tv{
    position:absolute;
    height: 30px;
    width: 150px;
    background-color: chartreuse;
    left: 120px;
}
#sofa{
    position:absolute;
    height: 80px;
    width: 200px;
    background-color: red;
    left: 100px;
    top: 150px;
} */

/* .items{
    background-color: blueviolet;
    width: 200px;
    height: 150px;
    margin-top: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} */
/* .hover_effect:hover{
    color: red;
    background-color: cadetblue;
    font-size: 80px;
    text-shadow: 4px 3px 8px aqua;
}
button{
    background-color: green;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
    background-color: blueviolet;
    font-size: 30px;
    padding: 20px;
    color: whitesmoke;
    border-radius: 20px;
}
a:visited{
    color: green;
}
 input:focus{
    background-color: yellow;
} 
ul{
    width: 300px;
    padding: 10px;
    list-style-type: none;
}
li{
    padding: 10px;
    border: 2px solid red;
    margin-bottom: 10px;
    border-radius: 10px;
}
li:nth-child(odd){
    background-color: aquamarine;
}
li:nth-child(even){
    background-color: lightpink;
}
li:first-child{
    background-color: black;
    color: white;
}
li:last-child{
    background-color: black;
    color: white;
} */
 /* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    flex-direction: row;
 }
 .box{
    background-color: darkorange;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: white;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s ease;
 }
 .box1:hover{
       transform: translate(125px,125px);
 }
 .box2:hover{
       transform: translatex(125px);
 }
 .box3:hover{
       transform: translatey(125px);
 }
 .box4:hover{
    transform: rotate(360deg);
    background-color: blueviolet;
    color: aqua;
 }
 .box5:hover{
    transform: skew(30deg);
 }
 .box6:hover{
    transform: scale(2);
 }
 .box7:hover{
    transform: rotate(40deg) scale(2) translateY(50px);
 } */
  /* div{
    color: white;
    text-align: center;
    font-size: 30px;
  }
  .linear{
    height: 500px;
    border: 2px solid black;
    background: linear-gradient(to left, #ff0000a8,black);
  }
  .radial{
   height: 600px;
   background: radial-gradient(circle at center,lightpink,aqua,skyblue,red);
   color: black;
  }
  .conic{
    height: 500px;
    background: conic-radient(from 90deg,black,green,blue,blueviolet);

  } */
   /* div{
    width: 400px;
    height: 400px;
    background-color:yellow;
    position: relative;
    animation: myfirstanimation;
    -webkit-animation: myfirstanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
   }
   @keyframes myfirstanimation{
    0%{background-color: yellow;left:0px; top: 0px;}
    25%{background-color: aqua;left:300px; top: 0px;}
    50%{background-color: darkred;left:300px; top: 300px;}
    75%{background-color: chartreuse;left:0px; top: 300px;}
    100%{background-color: yellow;left:0px; top: 0px;}
   } */
    #txt{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        letter-spacing: 4px;
        font-size: 100px;
        font-weight: 700;
        position: relative;
        transform-style: preserve-3d;
        -webkit-perspective: 100px;
    }
    #txt>b{
        height: 100px;
        box-shadow: 0px 30px 15px grey;
        color: aqua;
        background-color: red;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-transform-origin: bottom;
        transform: rotatex(-85deg);
        transform: rotateX(-85deg);
        animation: getup;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #txt>b:nth-child(1){
        animation-delay: 0s;
    }
    #txt>b:nth-child(2){
        animation-delay: 0.25s;
    }
    #txt>b:nth-child(3){
        animation-delay: 0.50s;
    }
    #txt>b:nth-child(4){
        animation-delay: 0.75s;
    }
    #txt>b:nth-child(5){
        animation-delay: 1s;
    }
    #txt>b:nth-child(6){
        animation-delay: 1.25s;
    }
    #txt>b:nth-child(7){
        animation-delay: 1.50s;
    }
    #txt>b:nth-child(8){
        animation-delay: 1.75s;
    }
    @keyframes getup{
        10%,50%{
            transform: rotatex(0);
        }
        0%,60%,100%{
            transform: rotatex(-85deg);
        }
    }