 /* h3{
    color:green;
    font-style: italic;
}
 p{
    color: deepskyblue;
} 
h4{
    color: chartreuse !important;
}
.t_uppercase{
    text-transform: uppercase;
    color: blueviolet;
}
.t_lowercase{
    text-transform: lowercase;
    color: blueviolet;
    text-decoration: dotted;
}
.t_capitilize{
    text-transform: capitalize;
    color: blueviolet;
}
.t_center{
    text-align: center;
    color: blueviolet;
    text-decoration: line-through;
}
.t_right{
    text-align: right;
    color: blueviolet;
    text-decoration: overline;
}
.f_size{
    font-size: 80px;
    color: blueviolet;
    text-decoration: underline;
}
.t_line{
    text-decoration: overline underline line-through;
}
.t_indent{
    text-indent: 150px;
}
.t_height{
    line-height: 50px;
}
.w_spacing{
    word-spacing: 50px;
}
.l_spacing{
    letter-spacing: 20px;
}
.t_shadow{
    font-size: 80px;
    text-align: center;
    color: aqua;
    text-shadow: 4px 5px 8px red;
}
    .t2_shadow{
    font-size: 80px;
    text-align: center;
    color: rgb(10, 231, 14);
    text-shadow: 4px 5px 8px rgba(242, 8, 187, 0.957);
    }
1st value is horizontal second is vertical third is blur and last is color 
.heading1{
    color: chocolate;
    font-size: 100px;
}
#heading1{
    color: crimson;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
*{
    color: cyan;
    text-decoration:overline;
}
p,h3,h6{
    color: chartreuse;
}
.font_family1{
font-family: 'Courier New', Courier, monospace;
}
.font_family2{
font-family:cursive;
}
.font_family3{
font-family:Georgia, 'Times New Roman', Times, serif;
}
.text_shadow{
    text-shadow: 4px 5px 6px red;
    font-size: 250px;
    text-align: center;
}
.drop_shadow{
    filter: drop-shadow(2px 3px 6px aqua);
    height: 300px;
    width: 300px;
}
.box_shadow{
    box-shadow: 8px 8px 8px chartreuse;
    height: 300px;
    width: 300px;
} 
.box_model{
    padding: 40px;
    border: 2px solid red;
    margin: 50px;
}
.box_model2{
    padding: 100px 50px 100px 50px;
    margin: 100px 80px 100px 80px;
    border: 3px solid blueviolet;
}
.border_prop{
     solid,dashed,double,dotted,inset,outset 
    border: 10px solid red;
    margin: 100px;
    padding: 10px;
    border-radius: 0px;
     border-top-left-radius: 100px; 
     border-top-right-radius: 100px; 
    border-bottom-left-radius: 100px;
     border-bottom-right-radius: 100px;
    border-top-color: blue;
    border-right-color: green;
    border-bottom-color: blue;
    border-left-color: green;
} */
body{
    background-color: aqua;
    background-image: url("/images/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading1{
color: black;
text-shadow: 2px 3px 5px yellow;
text-align: center;
}
.text1{
    color: black;
    padding: 20px;
    border: 3px solid white;
    background-color: #f5deb366;
} 

.box{
    width: 200px;
    height: 100px;
    border: 2px solid skyblue;
    background-color: chartreuse;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    color: black;
}  
.box1{
    position: static;
}
.box2{
    position: relative;
    top: 20px;
    left: 200px;
    margin: 100px;

}
.box3{
    position: absolute;
    top: 10px;
    left: 300px;

}
.box4{
    position: sticky;
    top: 10px;

}
.box5{
    position: fixed;
    top: 10px;
    left: 10px;

}